html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
body .initWarning {
  color: orangered;
  font-size: larger; }

#SREventManager {
  display: inline-block;
  border: 1px solid green;
  background-color: orangered;
  font-size: 10px;
  color: orange;
  padding: 2px; }
  #SREventManager:before {
    content: "Entity:";
    display: inline-block; }
  #SREventManager:after {
    content: "SREventManager";
    display: inline-block; }

#appLayout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #appLayout .eventPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid blue; }
    #appLayout .eventPage #closerEventView,
    #appLayout .eventPage #wideEventView {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 1px solid;
      overflow-y: auto; }
    #appLayout .eventPage #closerEventView {
      left: 0;
      border-color: green;
      width: 80%; }
    #appLayout .eventPage #wideEventView {
      right: 0;
      width: 20%;
      background-color: lightyellow;
      border-color: darkolivegreen; }

.HorizontalLayout {
  display: table; }
  .HorizontalLayout.extended {
    width: 100%;
    height: 100%; }
  .HorizontalLayout > .HorizontalRow {
    display: table-row; }
    .HorizontalLayout > .HorizontalRow > * {
      display: table-cell;
      vertical-align: top; }

.SREventElementExtended {
  border: 1px solid red;
  margin: 10px;
  padding: 7px;
  border-radius: 10px; }
  .SREventElementExtended .viewProductsGrp > .productImage {
    display: inline-block;
    width: 80px;
    height: 100px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63); }
  .SREventElementExtended .itemsGrp > .productImage {
    display: inline-block;
    width: 80px;
    height: 100px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63); }

.SREventElement {
  padding: 2px;
  font-size: 10px; }
  .SREventElement .inlineInfo > * {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px; }
    .SREventElement .inlineInfo > *.visitorId {
      font-weight: bold; }
    .SREventElement .inlineInfo > *.timestamp .srDate {
      text-decoration: underline; }
      .SREventElement .inlineInfo > *.timestamp .srDate > .date {
        display: inline-block; }
        .SREventElement .inlineInfo > *.timestamp .srDate > .date > span:after {
          content: "/";
          color: gray; }
        .SREventElement .inlineInfo > *.timestamp .srDate > .date > span:last-child:after {
          content: "";
          padding-right: 4px; }
      .SREventElement .inlineInfo > *.timestamp .srDate > .time {
        display: inline-block; }
        .SREventElement .inlineInfo > *.timestamp .srDate > .time > span:after {
          content: ":";
          color: gray; }
        .SREventElement .inlineInfo > *.timestamp .srDate > .time > span:last-child:after {
          content: ""; }

/*# sourceMappingURL=main.css.map */
