html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
body .initWarning {
  color: orangered;
  font-size: larger; }

#SREventManager {
  font-size: 10px;
  padding: 2px; }
  #SREventManager .loaderGroup > * {
    display: inline-block; }
  #SREventManager .loaderGroup .textualInfo {
    color: black;
    padding: 4px; }
    #SREventManager .loaderGroup .textualInfo .loadedItemsLbl {
      margin-right: 4px; }
      #SREventManager .loaderGroup .textualInfo .loadedItemsLbl:before {
        content: 'loading...';
        display: inline-block;
        padding: 4px; }
      #SREventManager .loaderGroup .textualInfo .loadedItemsLbl:after {
        content: 'of';
        display: inline-block;
        padding: 4px; }
  #SREventManager .loaderGroup .loadingBar {
    background-color: white;
    border: 1px solid green;
    height: 20px;
    width: 100px; }
    #SREventManager .loaderGroup .loadingBar .incrementalIndicator {
      background-color: lawngreen;
      width: 1%;
      height: 18px; }

#appLayout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #appLayout .eventPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    #appLayout .eventPage .utilityBar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30px;
      border-bottom: 1px solid lightblue; }
    #appLayout .eventPage #closerEventView,
    #appLayout .eventPage #wideEventViewGrp {
      position: absolute;
      top: 30px;
      bottom: 0;
      overflow-y: auto; }
    #appLayout .eventPage #wideEventViewGrp {
      right: 3px;
      width: 20%; }
      #appLayout .eventPage #wideEventViewGrp .searchTool {
        position: absolute;
        top: 0;
        margin: 3px;
        height: 30px;
        padding: 2px;
        border: 1px solid #d3d3d3;
        border-radius: 7px; }
        #appLayout .eventPage #wideEventViewGrp .searchTool > * {
          display: inline-block;
          vertical-align: middle;
          line-height: 1em; }
          #appLayout .eventPage #wideEventViewGrp .searchTool > *.fa {
            font-size: 1.3em;
            color: gray;
            opacity: .5; }
            #appLayout .eventPage #wideEventViewGrp .searchTool > *.fa:hover {
              opacity: 1; }
        #appLayout .eventPage #wideEventViewGrp .searchTool input[type=text] {
          border: none;
          padding: 0;
          margin: 0;
          padding-left: 5px; }
      #appLayout .eventPage #wideEventViewGrp #wideEventView {
        position: absolute;
        width: 100%;
        top: 38px;
        bottom: 3px;
        border: 1px solid;
        overflow-y: auto;
        background-color: lightyellow;
        border-color: darkolivegreen; }
    #appLayout .eventPage #closerEventView {
      left: 0;
      border-color: green;
      width: 80%; }

.HorizontalLayout {
  display: table; }
  .HorizontalLayout.extended {
    width: 100%;
    height: 100%; }
  .HorizontalLayout > .HorizontalRow {
    display: table-row; }
    .HorizontalLayout > .HorizontalRow > * {
      display: table-cell;
      vertical-align: top; }

.SRIndividualVisitorElement {
  position: relative;
  z-index: 1;
  border: 1px solid blue;
  margin: 10px;
  padding: 7px;
  border-radius: 10px; }
  .SRIndividualVisitorElement .visitorId {
    font-weight: bold; }
  .SRIndividualVisitorElement .historyContainer {
    margin: 2px;
    border: 1px solid limegreen; }
    .SRIndividualVisitorElement .historyContainer fieldset.historyItem {
      border: 1px solid darkgray;
      padding: 2px; }
      .SRIndividualVisitorElement .historyContainer fieldset.historyItem legend.random {
        font-size: smaller;
        color: darkgray; }
    .SRIndividualVisitorElement .historyContainer .productsGrp {
      background-color: lightblue; }
      .SRIndividualVisitorElement .historyContainer .productsGrp .impressionsGrp .impressions span.impressionItem {
        display: inline-block;
        padding: 2px; }
      .SRIndividualVisitorElement .historyContainer .productsGrp .cartItem {
        color: green; }
      .SRIndividualVisitorElement .historyContainer .productsGrp .productInCart {
        border: 1px solid orange; }
        .SRIndividualVisitorElement .historyContainer .productsGrp .productInCart > * {
          text-decoration: underline; }
          .SRIndividualVisitorElement .historyContainer .productsGrp .productInCart > *.f {
            color: lawngreen; }

.SREventElementExtended {
  position: relative;
  z-index: 1;
  border: 1px solid #d3d3d3;
  margin: 30px;
  padding: 14px;
  border-radius: 10px; }
  .SREventElementExtended.out {
    background-color: red; }
  .SREventElementExtended .inlineInfo .visitorId {
    font-weight: bolder; }
  .SREventElementExtended .viewProductsGrp .scarabRecomended {
    border: 1px solid green;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: #ddf4dd; }
    .SREventElementExtended .viewProductsGrp .scarabRecomended legend {
      display: inline-block;
      color: forestgreen; }
      .SREventElementExtended .viewProductsGrp .scarabRecomended legend i {
        vertical-align: middle;
        color: #be9e63;
        font-size: 2em; }
  .SREventElementExtended .viewProductsGrp .productImage {
    display: inline-block;
    width: 80px;
    height: 100px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63); }
  .SREventElementExtended .itemsGrp > .productImage {
    display: inline-block;
    width: 80px;
    height: 100px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63); }
  .SREventElementExtended .bottomMarker,
  .SREventElementExtended .topMarker {
    position: absolute;
    left: 0;
    border: 1px solid; }
  .SREventElementExtended .topMarker {
    top: 0;
    border-color: green; }
  .SREventElementExtended .bottomMarker {
    bottom: 0;
    border-color: red; }

.SREventElement {
  position: relative;
  z-index: 1;
  padding: 2px;
  font-size: 11px;
  cursor: pointer; }
  .SREventElement.IN {
    font-weight: bold; }
  .SREventElement .inlineInfo > * {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px; }
    .SREventElement .inlineInfo > *.visitorId {
      width: 90%; }
    .SREventElement .inlineInfo > *.fa {
      min-width: 1em;
      font-size: 1.2em;
      padding: 2px; }
      .SREventElement .inlineInfo > *.fa.fa-bug {
        color: green; }
      .SREventElement .inlineInfo > *.fa.fa-search {
        font-size: 1.3em;
        color: blue;
        opacity: 0; }
  .SREventElement .inlineInfo:hover {
    background-color: rgba(255, 165, 0, 0.37); }
    .SREventElement .inlineInfo:hover .fa-search {
      opacity: 1; }
  .SREventElement.selected {
    background-color: rgba(75, 255, 65, 0.21); }

.timestamp {
  float: right; }
  .timestamp .srDate {
    margin: 5px; }
    .timestamp .srDate > .date {
      display: inline-block; }
      .timestamp .srDate > .date > span:after {
        content: "/";
        margin: 2px;
        color: gray; }
      .timestamp .srDate > .date > span:last-child:after {
        content: "";
        padding-right: 2px; }
    .timestamp .srDate > .time {
      display: inline-block; }
      .timestamp .srDate > .time > span:after {
        content: ":";
        color: gray; }
      .timestamp .srDate > .time > span:last-child:after {
        content: ""; }

#smallViewBuffer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 62, 255, 0.52);
  z-index: 2; }

.devOptions {
  width: 1%; }

#Paginator .pagesHolder {
  max-width: 600px;
  height: 26px;
  overflow-x: auto;
  white-space: nowrap; }
#Paginator .pageIcon {
  display: inline-block;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  text-align: center;
  cursor: pointer; }
  #Paginator .pageIcon.selected {
    background-color: green; }

.pageFrameAvatar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 10px; }

/*# sourceMappingURL=main.css.map */
