html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body{
  *{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .initWarning{

    color: orangered;
    font-size: larger;

  }
}

#SREventManager{
  font-size: 10px;
  padding: 2px;

  .loaderGroup{
    >*{
      display: inline-block;

    }

    .textualInfo{
      color:black;
      padding: 4px;

      .loadedItemsLbl{
        &:before{
          content: 'loading...';
          display: inline-block;
          padding: 4px;

        }
        &:after{
          content: 'of';
          display: inline-block;
          padding: 4px;
        }

        margin-right: 4px;
      }
      .totalItemsLbl{

      }
    }

    .loadingBar{

      background-color:white;

      border: 1px solid green;
      height: 20px;

      width: 100px;
      .incrementalIndicator{
        background-color:lawngreen;
        width: 1%;
        height: 18px;

      }
    }

  }


}

#appLayout{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .eventPage{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
//    border: 1px solid blue;

    .utilityBar{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30px;
//      background-color: rgba(0, 120, 174, 0.34);
      border-bottom: 1px solid lightblue;
    }

    #closerEventView,
    #wideEventViewGrp{
      position: absolute;
      top: 30px;
      bottom: 0;
//      border: 1px solid;
      overflow-y: auto;

    }

    #wideEventViewGrp{
      right: 3px;
      width: 20%;
//      border: 2px solid red;

      .searchTool{
        position: absolute;
        top: 0;
        margin: 3px;
        height: 30px;
        padding: 2px;
        border: 1px solid #d3d3d3;
        border-radius: 7px;
        >*{
          display: inline-block;
          vertical-align: middle;
          line-height: 1em;
          &.fa{
            font-size: 1.3em;
            color: gray;
            opacity: .5;
            &:hover{
              opacity: 1;
            }
          }
        }
        input[type=text]{
          border: none;
          padding: 0;
          margin: 0;
          padding-left: 5px;

        }
      }

      #wideEventView{
        position: absolute;
        width: 100%;
        top:38px;
        bottom: 3px;
        border: 1px solid;
        overflow-y: auto;
        background-color: lightyellow;
        border-color:darkolivegreen;
      }


    }

    #closerEventView{
      left: 0;
      border-color:green;
      width:80%;
    }

  }

}

//Horizontal layout using tables
.HorizontalLayout{
  display: table;
  &.extended{
    width: 100%;
    height: 100%;
  }
  >.HorizontalRow{
    display: table-row;
    >*{
      display: table-cell;
      vertical-align: top;
    }
  }
}


.SRIndividualVisitorElement{
  position: relative;
  z-index: 1;
  border: 1px solid blue;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;

  .visitorId{
    font-weight: bold;
  }

  .historyContainer{
    margin: 2px;
    border: 1px solid limegreen;

    fieldset.historyItem{
      border: 1px solid darkgray;
      padding: 2px;
      legend.random{
        font-size: smaller;
        color: darkgray;
      }
    }



    .productsGrp{
      background-color: lightblue;

      .impressionsGrp{
        .impressions{
          span.impressionItem{
            display: inline-block;
            padding: 2px;
          }
        }
      }

      .cartItem{
        color:green;
      }

      .productInCart{
        border: 1px solid orange;
        >*{
          text-decoration: underline;
          &.f{
            color: lawngreen;
          }
        }
      }
    }

  }

}


.SREventElementExtended{
  position: relative;
  z-index: 1;
  border: 1px solid #d3d3d3;
  margin: 30px;
  padding: 14px;
  border-radius: 10px;

  &.out{
    background-color: red;
  }

  .inlineInfo{
    .visitorId{
      font-weight: bolder;
    }
  }

  .viewProductsGrp{

    .scarabRecomended{
      border: 1px solid green;
      border-radius: 4px;

      margin: 10px;
      padding: 10px;

      display: inline-block;
      background-color: rgb(221, 244, 221);

      legend{
        display: inline-block;
        color: forestgreen;
        i{
          vertical-align: middle;
          color: #be9e63;
          font-size: 2em;
        }
      }

    }

    .productImage{
      display: inline-block;
      width: 80px;
      height: 100px;
      margin: 3px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      border: 1px solid rgba(0, 0, 0, 0.4);
      vertical-align: middle;
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
    }
  }

  .itemsGrp{

    >.productImage{
      display: inline-block;
      width: 80px;
      height: 100px;
      margin: 3px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      border: 1px solid rgba(0, 0, 0, 0.4);
      vertical-align: middle;
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
//      height: 140px;
    }
  }

  .bottomMarker,
  .topMarker{
    position: absolute;
    left: 0;
    border: 1px solid;
  }
  .topMarker{
    top: 0;
    border-color: green;
  }
  .bottomMarker{
    bottom: 0;
    border-color: red;
  }
}

.SREventElement{
  position: relative;
  z-index: 1;
  padding: 2px;
  font-size: 11px;

  cursor: pointer;

  &.IN{
    font-weight: bold;
  }

  .inlineInfo{
    >*{
      display: inline-block;
      padding-left: 1px;
      padding-right: 1px;
      &.visitorId{
        width: 90%;
//        font-weight: bold;
//        text-decoration: underline;
      }
      &.fa{
        min-width: 1em;
        font-size: 1.2em;
        padding: 2px;
        &.fa-bug{
          color: green;
        }
        &.fa-search{
          font-size: 1.3em;
          color: blue;
          opacity: 0;

        }
      }

    }

    &:hover{
      background-color: rgba(255, 165, 0, 0.37);
      .fa-search{
        opacity: 1;
      }
    }
  }

  &.selected{

    background-color: rgba(75, 255, 65, 0.21);
  }

}

.timestamp{
  float: right;
  .srDate{
    margin: 5px;
    >.date{
      display: inline-block;
      >span{
        &:after{
          content: "/";
          margin: 2px;
          color:gray;
        }
        &:last-child{
          &:after{
            content: "";
            padding-right: 2px;
          }
        }
      }


    }
    >.time{
      display: inline-block;
      >span{
        &:after{
          content: ":";
          color:gray;
        }
        &:last-child{
          &:after{
            content: "";
          }
        }
      }
    }
  }
}

//#creationBuffer{
//  position: fixed;
//  top: 100px;
//  bottom: 100px;
//  width: 100%;
//  border: 2px dashed red;
//  z-index: 0;
//}

#smallViewBuffer{
  position: fixed;
  top:0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 62, 255, 0.52);
  z-index: 2;

}

.devOptions{
  width: 1%;
}

#Paginator{

  .pagesHolder{

    max-width: 600px;
    height: 26px;
//    background-color: lightblue;
    overflow-x: auto;

    white-space: nowrap;
  }

  .pageIcon{
    display: inline-block;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    &.selected{
      background-color: green;
    }

  }
}

.pageFrameAvatar{
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
//  border: 1px solid red;
  min-height: 10px;
}
